@import url('https://fonts.googleapis.com/css?family=Arimo:100,200,300,400,500,600,700|Pavanam:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');

/*-----------------------------------------Body */

body {
    font-family: 'Pavanam', sans-serif;
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.opaque-overlay {
  background: rgba(5, 0, 0, 0.596);
}

/*-----------------------------------------Landing Page */

.landingpage-container {
    background: url('../images/header/landingpage.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

p {
    color: rgb(216, 205, 205);
    font-size: larger;
}

.style{
    color: rgb(179, 159, 187);
    font-weight: bold;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: #a7a7a7;
}

a:hover{
    text-decoration: none;
    color: #b8b7b7;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #dbc7bd;
    margin-bottom: 30px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.1em;
}

.jumbotronplus {
    color: #bbb6c1;
    font-family: 'Arimo', sans-serif;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
    font-family: 'Arimo', sans-serif;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    font-family: 'Arimo', sans-serif;
    color: #d0d0d0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #e5cdce;
}



.btn-dark{
    background-color: rgb(0, 0, 0);
    color: rgb(237, 227, 222);
    border: none;
    padding: 14px 20px;
    margin: auto;
    text-transform: uppercase;    
    font-family: 'Abel', sans-serif;
    border-radius: 0px;
}

.btn-dark:hover{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}

.btn-dark:active:focus{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}




/*-----------------------------------------Form Controls */

::placeholder {
    color: grey !important;
    text-transform: uppercase;
}

input[type=text] {
    margin: 0px;
    border-style: solid;
    border-width: 1px;  
    border-color: #ede3de; 
    border-radius:0px;
    width: 100%;
}


textarea{
    margin: 0px;
    text-indent: 0.05em;
    border-style: solid;  
    border-width: 1px;  
    border-color: #ede3de; 
    border-radius:0px;
}


@media screen and (max-width: 600px) {
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

