/*!
 * The Coding Sessions - Original Theme Dark
 * Copyright 2019
 * Created by The Coding Sessions
 */


@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700|Pavanam:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');

/*-----------------------------------------Universal properties and Body */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
    text-align: center; /*-------Bring header image down so fixed nav doesn't cover half pic when window is resized-----*/
    color: #8d8a8a;

}

 
/*----------------------------------------- Mobile and iPad devices */


/*---- All mobile devices portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
    .header-image h1 {
        font-size: 40px!important;
    }    
  
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }


/*---Text -- */
.uppercase{
    text-transform: uppercase;
}
  

/*--- Scroll Down Button -- */
.ct-btn-scroll {
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 2em;
  }

.ct-btn-scroll:hover {
    color: rgb(94, 94, 94);
}
  
/*--- Scroll Up Button -- */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: rgb(255, 255, 255);
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: rgb(94, 94, 94);
    top: 5px;
}



/*----- Home Page -----*/


.servicesheader {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #ab9eb3;
    font-size: 25px;
    background-color: #000000;
    padding: 10px;
    margin-top: 12ex;
    width: 65%;
    margin-left: 5ex;
}

.main-header-big {
    color:  #b3a2a2;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
    font-size: 2em;
    }

.main-header {
    color:  #b3a2a2;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
    }

    .main-header-coding {
        color:  #b3a2a2;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        margin: auto;
        padding-bottom: 40px;
        font-size: 2.7em;
        }    

.main-header-left {
    color:  #b3a2a2;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 20px;
    
    }
    
    .main-header-left::before {
    content: "";
    border-left: 3rem solid black;
    width: 4rem;
    height: 45px;
    border-left: solid 7px #685d66;
    margin-right: 20px;
    }


    .block-divider-main {
        width: 75px;
        height: 5px;
        border: 0;
        background-color:  #685d66;
    }        


/*-------Fade in each section on scroll-----*/
.fadein { 
    opacity:0.2;
}

/*-------responsive image-----*/
.responsive {
    max-width: 100%;
    height: auto;
  }

/*-------main page links-----*/
.bodylink{
    color: #6d5e70;
}

.bodylink:hover{
    color: #bbb6c1;
    opacity: 0.6;
    text-decoration: none;
}

.bodylink:focus{
    color: #bbb6c1;
    outline: 0;
}

/*---- Vertical Stacking between columns */ 

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}


/*-----------------------------------------Form Controls */

::placeholder {
    color: grey !important;
    text-transform: uppercase;
}

input[type=text] {
    background-color: rgb(233, 229, 225);
    margin: 0px;
    border-style: solid;
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
    width: 100%;
}

input[type=email] {
    margin: 0px;
    border-style: solid;
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
    width: 100%;
}

textarea[type=text] {
    background-color: rgb(233, 229, 225);
    margin: 0px;
    text-indent: 0.05em;
    border-style: solid;  
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
}

input[type=text]:focus {
    background-color: rgb(233, 229, 225);
}

textarea[type=text]:focus {
    background-color: rgb(233, 229, 225);    
}


@media screen and (max-width: 600px) {
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}



/*--------------------------------------- Buttons */
/*---- Light */

.btn-light{
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    padding: 20px;
    margin: auto;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-light:hover {
    background-color: transparent;
    color: rgb(237, 227, 222);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light:active:focus{
    background-color: transparent;
    background-color: rgb(89, 89, 89);
}

/*---- Dark */

.btn-dark{
    background-color: rgb(41, 40, 40);
    border: 1px solid white;
    color: rgb(237, 227, 222);
    border: none;
    padding: 25px;
    margin: auto;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
}

.btn-dark:hover{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-dark:active:focus{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}


/*----------------------------------------NAVBAR */
/*------Navbar home page */
.navbar-bg{
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
}

/*------Navbar every other page */
.navbar-bg1{
    background-color: #000000;
    border: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
}

.navbar-brand:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}

.navbar-nav li a{
    color: #928e87 !important;
}

.navbar-nav li a:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(161, 161, 161, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(161, 161, 161, 1);
} 

.custom-toggler.navbar-toggler:hover {
    opacity: 0.8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

button:focus { 
    outline:0 !important; 
}

.nav-link{
    color: #bbb6c1;
    font-size: large;
}

.nav-link:hover{
    color: #bbb6c1;
    opacity: 0.6;
}

.nav-link:focus{
    color: #bbb6c1;
    outline: 0;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease 0s;
  
  }
  

/*-----------------------------------------Header Image */

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
}

.header-image {
    background: url('../images/header/main-header.jpg') no-repeat center center fixed;
        /* Sizing */
        height: 100vh;
        width: auto;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.header-image h1 {
    /* Text styles */
    color: rgb(190, 174, 174);
    margin-bottom: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    /* Margins */
    margin-top: 4em;  
    margin-bottom: 0.5em;
    background-color: #000000;
    padding:40px;
}


.header-image h4 {
    color: #b39595;
    font-weight: 800;
    letter-spacing: 2pt;
    text-transform: uppercase;
    margin-top: 3em;
    padding: 40px;
    
}

.header-image .btn {
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 3em;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


/*------ Block dividers ------*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #e5cdce;
}

   
/*----------------------------------------- Philosophies Row */

.philosophies-bg {
    background-color: rgb(216, 213, 213);
    padding: 95px 90px 95px 90px;
}

.philosophies-icon {
    font-size: 120px;
    color: #000000;
}

/*-----------------------------------------ABOUT US MAIN */
/*------ Front Page About Us Section Left Column */

.about-us-col-bg-0 {
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-col-text-0{
    color: #cacaca;
}

.about-us-col-padding {
    padding: 55px 40px 55px 40px;
    
}

.meetalee-bg {
    background: url('../images/column-background/meetaleethefounder.png') no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.aboutus-bg {
    background: url('../images/column-background/aboutuscolimg.png') no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*-----------------------------------------WHO WE ARE SECTION */

/*----- ABOUT PAGE -----*/

.about-heading {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        color: #dbc7bd;
        margin: auto;
        padding-bottom: 20px;
    
}

.about-heading2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #bdb2be;
    margin: auto;
    padding-bottom: 50px;

}

.about-content-container{
    background-color: rgb(241, 241, 241);
    padding: 95px 40px 95px 40px;
}


.caption{
    font-weight: bold;
    font-size: larger;
}

.caption2{
    color: #c6b0b3;
}

.caption3{
    color: #bbb6c1;
}

.caption4{
    color: #c6b0b3;
    font-size: larger;
}



/*----------------------------------------- THE FOUNDER ----- */
/*----- About Page Alee Header -----*/
.container-wrapper--alee {
    background: url('../images/container-background/aleeabout.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    max-width: 100%;
}

.aleecol {
background-color:  rgb(216, 213, 213);
padding: 95px 40px 95px 40px;
}

.aleecol2 {
    background-color: #FFF;
    margin-top: 150px;
    }

/*-----------------------------------------MENTORSHIP */

    .mentorship-container{
        background-color: rgb(0, 0, 0);  
        padding: 95px 40px 95px 40px;
    }
    
    .mentorship-container2 {
        background-color: rgb(216, 213, 213);
        padding: 95px 40px 95px 40px;
    }
    
    .mentorship-margin {
        margin-top: 200px;
    }

    .mentorship-content{
        text-align: center; 
        padding: 20px;
        font-size: 130%
    }
    
    .mentorship-content2{
        text-align: center; 
        padding: 20px;
        text-align: left;
        
    }

/*-----------------------------------------WHAT WE DO SECTION */
 

.theartofcoding-bg {
    background: url('../images/container-background/theartofcoding.jpg') no-repeat center center;
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: 70vh;
}


.whatwedo-content{
    text-align: center; 
    padding: 20px;
    font-size: 120%
}

.whatwedo-icon {
    font-size: 120px;
    color: #000000;
}
/*----------------------------------------- Featured Services -----*/

.features {
    background-color: #aa9898;
    padding: 95px 40px 95px 40px;
}

.features-container{
    background-color: rgb(0, 0, 0);    
    padding: 60px 40px 60px 40px;
}

/*----- Heading Buttons -----*/
.btn-light-feature{
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: x-large;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-light-feature:hover {
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light-feature:active:focus{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}

.btn-position .btn-light-feature{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}


/*----- Column Hover -----*/
div.colhover:hover {
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

/*----------------------------------------- SUBSCRIBE */

.subscribe-bg{
    padding: 105px 40px 105px 40px;
    background-color: rgb(216, 213, 213);
}

.subscribe-content-container2{
    padding: 120px 100px 120px 100px;
}


/*-----------------------------------------CONTACT */

.contact-content-container {
    padding: 95px 60px 95px 60px;
    background-color: rgb(216, 213, 213);
}

.contact-content-container-home {
    padding: 95px 60px 95px 60px;
}

.contact-content {
    text-align: center;   
    font-weight: bold;
    font-size: medium;
    color: #4a4b4d;
}

.contact-main-bg {
    background: url('../images/container-background/contact-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-page{
    background: url('../images/container-background/contactbackground.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----------------------------------------Footer*/

footer{
    background-color: #000000;
    margin: 0;
    position: absolute;    
    padding: 65px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

    /*---- Newsletter Sign Up ----*/

    .mail-content-container {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        color: #dbc7bd;
        margin: auto;
    }

    /*---- Social Links ----*/
    
.social-links li a i{
    width: 67px;
    height: 67px;
    padding: 28px 0px;
    border-radius: 60%;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #757075;
     
}

.social-links li a i:hover{
    opacity: 0.8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;    
}


   /*-----Contact Link*/
   
.link-btn{
    color: #bbb6c1;
    font-size: large;
    font-weight: bold;
}

.link-btn:hover{
    color: #bbb6c1;
    opacity: 0.6;
    text-decoration: none;
}

.link-btn:focus{
    color: #bbb6c1;
    outline: 0;
}


    /*---- Copyright ----*/
    
.copyright{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #bbb6c1;
}

.copyright a:hover {
    color: #928e87;
    text-decoration: none;
}

.copyright2{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #756975;
}

.copyright2 a:hover {
    color: #928e87;
    text-decoration: none;
}


