$color_1: #8d8a8a;
$color_2: rgb(255, 255, 255);
$color_3: rgb(94, 94, 94);
$color_4: #b3a2a2;
$color_5: #b9b9b7;
$color_6: #c7abab;
$color_7: #a18da5;
$color_8: #bbb6c1;
$color_9: grey;
$color_10: rgb(237, 227, 222);
$color_11: #928e87;
$color_12: #BAB5AC;
$color_13: #f1f1f1;
$color_14: #cac8d4;
$color_15: #cacaca;
$color_16: #252525;
$color_17: rgb(214, 205, 205);
$color_18: #000000;
$color_19: rgb(196, 185, 185);
$color_20: #dbc7bd;
$color_21: #ffffff;
$color_22: #756975;
$font_family_1: 'Poppins', sans-serif;
$font_family_2: 'Open Sans Condensed', sans-serif;
$font_family_3: 'Nunito Sans', sans-serif;
$background_color_1: rgb(233, 229, 225);
$background_color_2: transparent;
$background_color_3: rgb(89, 89, 89);
$background_color_4: rgb(41, 40, 40);
$background_color_5: #000000;
$background_color_6: #BAB5AC;
$background_color_7: rgba(5, 5, 5, 0.932);
$background_color_8: rgb(0, 0, 0);
$background_color_9: #e5cdce;
$background_color_10: rgba(10, 10, 10, 0.76);
$background_color_11: #aa9898;
$background_color_12: rgb(216, 213, 213);
$border_color_1: #ffffff;

/*!
 * The Coding Sessions - Original Theme Dark
 * Copyright 2019
 * Created by The Coding Sessions
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700|Nunito+Sans:300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700|Pavanam:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');

@-webkit-keyframes 'fadeIn'{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes 'fadeIn' {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes "fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	font-family: $font_family_1;
	text-align: center;
	color: $color_1;
	height: 100%;
}
html {
	height: 100%;
}
main {
	height: 100%;
}
.page-heading{
	color: #d6caca;
	text-transform: uppercase;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
	font-size: 3em;
  }
.diagonalsection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	margin-bottom: -8em;
}
.uppercase {
	text-transform: uppercase;
}
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	i {
		color: $color_2;
		margin: 0;
		position: relative;
		left: 16px;
		top: 13px;
		font-size: 30px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	&:hover {
		i {
			color: $color_3;
			top: 5px;
		}
	}
}
.main-header-big {
	color: $color_4;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
	font-size: 2em;
}
.main-header {
	color: $color_5;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
}
.main-header-left {
	color: $color_6;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 20px;
	&::before {
		content: "";
		width: 4rem;
		height: 45px;
		border-left: solid 7px #685d66;
		margin-right: 20px;
	}
}
.block-divider-main {
	width: 75px;
	height: 7px;
	border: 0;
	background-image: linear-gradient(135deg, rgb(163, 145, 161), rgb(114, 112, 113));
}
.responsive {
	max-width: 100%;
	height: auto;
}
.bodylink {
	color: $color_7;
	&:hover {
		color: $color_8;
		opacity: 0.6;
		text-decoration: none;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
 
}
@include placeholder {
	color: $color_9 !important;
	text-transform: uppercase;
}

input[type=text] {
	background-color: $background_color_1;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
	&:focus {
		background-color: $background_color_1;
	}
}
input[type=email] {
	background-color: $background_color_1;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
}
textarea.text-area {
	background-color: $background_color_1;
	text-indent: 0.05em;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: $border_color_1;
	width: 100%;
	&:focus {
		background-color: $background_color_1;
	}
}
input[name=secret] {
	display: none;
}
.btn-light {
	background-color: $background_color_2;
	color: $color_10;
	border: 2px solid #e7e7e7;
	padding: 20px;
	margin: auto;
	border-radius: 0px;
	text-transform: uppercase;
	font-family: $font_family_1;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background-color: $background_color_2;
		color: $color_10;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			background-color: $background_color_2;
			background-color: $background_color_3;
		}
	}
}
.btn-dark {
	background-color: $background_color_4;
	border: 1px solid white;
	color: $color_10;
	border: none;
	border-radius: 0px;
	padding: 25px;
	margin: auto;
	text-transform: uppercase;
	font-family: $font_family_1;
	&:hover {
		color: $color_10;
		background-color: $background_color_3;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			color: $color_10;
			background-color: $background_color_3;
		}
	}
}
.navbar-bg {
	background-color: $background_color_2;
	border: 0;
	text-transform: uppercase;
	font-family: $font_family_1;
	letter-spacing: 0.1em;
	font-size: medium;
}
.navbar-bg1 {
	background-color: $background_color_5;
	border: 0;
	text-transform: uppercase;
	font-family: $font_family_1;
	letter-spacing: 0.1em;
	font-size: medium;
}
.navbar-brand {
	&:hover {
		opacity: 0.8;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.navbar-nav {
	li {
		a {
			color: $color_11 !important;
			&:hover {
				opacity: 0.6;
				transition: all 0.35s ease-in-out;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
			}
		}
	}
}
button {
	&:focus {
		outline: 0 !important;
	}
}
.nav-link {
	color: $color_8;
	font-size: large;
	&:hover {
		color: $color_8;
		opacity: 0.6;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
.menu {
	width: 35px;
	height: 5px;
	background-color: $background_color_6;
	margin: 6px 0;
	&:hover {
		opacity: 0.8;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: $background_color_7;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $color_12;
		display: block;
		transition: 0.3s;
		&:hover {
			color: $color_13;
		}
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}
.navbar-toggler {
	&:hover {
		opacity: 0.6;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.navbar.solid {
	background-color: $background_color_8;
	transition: background-color 1s ease 0s;
}
.carousel-caption {
	h1 {
		background: -webkit-linear-gradient(rgb(223, 213, 213), rgb(173, 157, 157));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: $font_family_3;
		font-weight: bold;
		font-size: 8vh;
		letter-spacing: 1.3pt;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 0.5em;
		margin-top: -7.5em;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
	h4 {
		color: $color_14;
		font-weight: 300;
		font-family: $font_family_2;
		letter-spacing: 2pt;
		font-style: italic;
		font-size: 3vh;
		margin-bottom: 1.4em;
	}
	.btn {
		background-color: $background_color_2;
		color: $color_10;
		border: 2px solid #e7e7e7;
		border-radius: 0;
		padding: 18px;
		margin-top: 2em;
		margin-bottom: 3em;
		text-transform: uppercase;
		font-family: $font_family_1;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		max-width: 100vh;
	}
}
.fade-in {
	opacity: 0;
	opacity: 1 \9;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade-in.text {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.fade-in.text2 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.fade-in.text3 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.block-divider {
	width: 75px;
	height: 5px;
	margin-bottom: 3em;
	background-color: $background_color_9;
}
.philosophies-bg {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 95px 90px 95px 90px;
	color: $color_15;
}
.philosophies-icon {
	font-size: 120px;
	color: $color_16;
	padding: 40px;
}
.about-us-col-bg-0 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.about-us-col-text-0 {
	color: $color_15;
}
.about-us-col-padding {
	padding: 55px 40px 55px 40px;
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
}
.meetalee-bg {
	background: url('../images/column-background/meetaleethefounder.png') no-repeat center center;
	height: 50vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aboutus-bg {
	background: url('../images/column-background/aboutuscolimg.png') no-repeat center center;
	height: 50vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.opaque-pageheaders {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $background_color_10;
}
.whoweareheader {
	background: url('../images/container-background/who-we-are-header.jpg') no-repeat center center;
	height: 70vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.whoweareheadersection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.whoweareheadertext {
	margin-top: 6em;
}
.whowearecontainergrey {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 120px 40px 95px 40px;
	margin-top: -7em;
}
.whowearecontainerblack {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 120px 40px 95px 40px;
	margin-top: -10em;
}
.whowearecontent {
	padding: 95px 40px 95px 40px;
	color: $color_17;
	margin-top: -4em;
}
.whatwedo-content {
	text-align: center;
	padding: 20px;
	color: $color_19;
	font-size: 1.4em;
}
.whatwedo-icon {
	font-size: 120px;
	color: $color_18;
}
.aboutaleeheader {
	background: url('../images/container-background/aleeabout.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 70vh;
	max-width: 100%;
}
.aboutaleesection {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.heyimaleetext {
	margin-top: 20em;
	margin-left: 25em;
}
.aboutaleecontent {
	padding: 80px 40px 90px 40px;
	color: $color_17;
	font-size: 1.1em;
}
.aleecol {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 100px 40px 95px 40px;
	margin-top: -9em;
}
.aleecol2 {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 100px 40px 100px 40px;
	color: $color_17;
	font-size: 1.1em;
	margin-top: -1em;
}
.aleecol3 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 95px 40px 150px 40px;
	margin-top: -1em;
}
.mentorshipheader {
	background: url('../images/container-background/mentorship-main-pic.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 70vh;
	max-width: 100%;
}
.mentorship-container {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 95px 40px 100px 40px;
	margin-top: -1em;
}
.mentorship-container2 {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 150px 40px 95px 40px;
	color: $color_19;
	margin-top: -15em;
}
.mentorship-container3 {
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	padding: 100px 40px 90px;
	color: $color_19;
	margin-top: -1em;
}
.mentorship-container4 {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 95px 40px 350px 40px;
	margin-top: -1em;
}
.mentorship-content {
	text-align: center;
	padding: 20px;
	font-size: 1.1em;
}
.mentorship-content2 {
	padding: 20px;
	text-align: left;
	color: $color_19;
	font-size: 1.1em;
}
.mentorship-content3 {
	padding: 20px;
	text-align: center;
	color: $color_19;
	font-size: 1.1em;
}
.mentorship-content4 {
	text-align: center;
	padding: 20px;
	font-size: 1.7em;
}
.features {
	background-color: $background_color_11;
	padding: 95px 40px 95px 40px;
}
.features-container {
	background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
	padding: 90px 40px 90px 40px;
	margin-top: -1.5em;
}
.btn-light-feature {
	background-color: $background_color_2;
	color: $color_10;
	border: 2px solid #e7e7e7;
	border-radius: 0px;
	text-transform: uppercase;
	font-family: $font_family_1;
	font-weight: 600;
	font-size: x-large;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	&:hover {
		color: $color_10;
		border: 2px solid #e7e7e7;
		text-transform: uppercase;
		font-family: $font_family_1;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
	&:active {
		&:focus {
			color: $color_10;
			background-color: $background_color_3;
		}
	}
}
.btn-position {
	.btn-light-feature {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}
.colhover {
	&:hover {
		opacity: 0.6;
		transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
	}
}
.subscribe-bg {
	padding: 105px 40px 105px 40px;
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
	color: $color_5;
	margin-top: -1em;
	margin-bottom: -1em;
}
.subscribe-content-container2 {
	padding: 120px 100px 120px 100px;
	background-color: $background_color_12;
}
.subscribe-free-gift {
	font-size: 1.3em;
}
.contact-content-container {
	padding: 95px 60px 95px 60px;
	background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
}
.contact-content {
	padding: 30px;
	text-align: center;
	color: $color_19;
	font-size: 1.1em;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.contact-page {
	background: url('../images/container-background/contactbackground.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.contact-page-font {
	color: $color_5;
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	margin: auto;
	padding-bottom: 40px;
}
#rc-imageselect {
	transform: scale(0.90) !important;
	-webkit-transform: scale(0.90) !important;
	transform-origin: 0 0 !important;
	-webkit-transform-origin: 0 0 !important;
}
footer {
	background-color: $background_color_5;
	margin: 0;
	position: absolute;
	padding: 65px;
	font-family: $font_family_1;
	text-align: center;
	text-transform: uppercase;
}
.mail-content-container {
	text-transform: uppercase;
	text-align: center;
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_20;
	margin: auto;
}
.social-links {
	li {
		a {
			i {
				width: 67px;
				height: 67px;
				padding: 28px 0px;
				border-radius: 60%;
				font-size: 30px;
				line-height: 10px;
				text-align: center;
				color: $color_21;
				background: #BAB5AC;
				&:hover {
					opacity: 0.8;
					transition: all 0.35s ease-in-out;
					-moz-transition: all 0.35s ease-in-out;
					-webkit-transition: all 0.35s ease-in-out;
					-o-transition: all 0.35s ease-in-out;
				}
			}
		}
	}
}
.link-btn {
	color: $color_8;
	font-size: large;
	font-weight: bold;
	&:hover {
		color: $color_8;
		opacity: 0.6;
		text-decoration: none;
	}
	&:focus {
		color: $color_8;
		outline: 0;
	}
}
.copyright {
	padding-top: 20px;
	font-family: $font_family_1;
	color: $color_8;
	a {
		&:hover {
			color: $color_11;
			text-decoration: none;
		}
	}
}
.copyright2 {
	padding-top: 20px;
	font-family: $font_family_1;
	color: $color_22;
	a {
		&:hover {
			color: $color_11;
			text-decoration: none;
		}
	}
}
@media (max-width: 1024px) {
	.row {
		>div {
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 600px) {
	input[type=submit] {
		width: 100%;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
@media (max-width: 991px) {
	.column-margin {
	  margin-top: -20px;
	}
  }

.hideme
{
    opacity:0;
}