/*!
 * The Coding Sessions - Original Theme Dark
 * Copyright 2019
 * Created by The Coding Sessions
 */


@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700|Pavanam:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');

/*-----------------------------------------Universal properties and Body */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
    text-align: center; /*-------Bring header image down so fixed nav doesn't cover half pic when window is resized-----*/
    color: #8d8a8a;

}

body, html, main{height:100%;}


section.diagonalsection{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    margin-bottom: -8em;
}


/*---Text -- */
.uppercase{
    text-transform: uppercase;
}
  

  
/*--- Scroll Up Button -- */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: rgb(255, 255, 255);
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: rgb(94, 94, 94);
    top: 5px;
}



/*----- Home Page -----*/



.main-header-big {
    color:  #b3a2a2;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
    font-size: 2em;
    }

.main-header {
    color:  #b9b9b7;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
    }


.main-header-left {
    color:  #c7abab;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 20px;
    
    }
    
    .main-header-left::before {
    content: "";
    border-left: 3rem solid black;
    width: 4rem;
    height: 45px;
    border-left: solid 7px #685d66;
    margin-right: 20px;
    }


    .block-divider-main {
        width: 75px;
        height: 7px;
        border: 0;
        background-image: linear-gradient(135deg, rgb(163, 145, 161), rgb(114, 112, 113));
    }        


/*-------responsive image-----*/
.responsive {
    max-width: 100%;
    height: auto;
  }

/*-------main page links-----*/
.bodylink{
    color: #a18da5;
}

.bodylink:hover{
    color: #bbb6c1;
    opacity: 0.6;
    text-decoration: none;
}

.bodylink:focus{
    color: #bbb6c1;
    outline: 0;
}

/*---- Vertical Stacking between columns */ 

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}


/*-----------------------------------------Form Controls */

::placeholder {
    color: grey !important;
    text-transform: uppercase;
}

input[type=text] {
    background-color: rgb(233, 229, 225);
    margin: 0px;
    border-style: solid;
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
    width: 100%;
}

input[type=email] {
    margin: 0px;
    border-style: solid;
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
    width: 100%;
}

textarea[type=text] {
    background-color: rgb(233, 229, 225);
    margin: 0px;
    text-indent: 0.05em;
    border-style: solid;  
    border-width: 1px;  
    border-color: #ffffff; 
    border-radius:0px;
}

input[type=text]:focus {
    background-color: rgb(233, 229, 225);
}

textarea[type=text]:focus {
    background-color: rgb(233, 229, 225);    
}


@media screen and (max-width: 600px) {
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}



/*--------------------------------------- Buttons */
/*---- Light */

.btn-light{
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    padding: 20px;
    margin: auto;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-light:hover {
    background-color: transparent;
    color: rgb(237, 227, 222);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light:active:focus{
    background-color: transparent;
    background-color: rgb(89, 89, 89);
}

/*---- Dark */

.btn-dark{
    background-color: rgb(41, 40, 40);
    border: 1px solid white;
    color: rgb(237, 227, 222);
    border: none;
    padding: 25px;
    margin: auto;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
}

.btn-dark:hover{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-dark:active:focus{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}


/*----------------------------------------NAVBAR */
/*------Navbar home page */
.navbar-bg{
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
}

/*------Navbar every other page */
.navbar-bg1{
    background-color: #000000;
    border: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
}

.navbar-brand:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}

.navbar-nav li a{
    color: #928e87 !important;
}

.navbar-nav li a:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;     
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167, 163, 170)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(167, 163, 170);
} 

.custom-toggler.navbar-toggler:hover {
    opacity: 0.8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

button:focus { 
    outline:0 !important; 
}

.nav-link{
    color: #bbb6c1;
    font-size: large;
}

.nav-link:hover{
    color: #bbb6c1;
    opacity: 0.6;
}

.nav-link:focus{
    color: #bbb6c1;
    outline: 0;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease 0s;
  
  }
  

/*-----------------------------------------Header Image */
/* Jumbotron */



.carousel-caption h1 {
    /* Text styles */
    color: rgb(190, 174, 174);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.8em;
    text-align: center;
    text-transform: uppercase;
    /* Margins */
    margin-bottom: 1em;
    margin-top: -10em;
}



.carousel-caption h4 {
    color: #b39595;
    font-weight: 800;
    letter-spacing: 2pt;
    text-transform: uppercase;
    margin-bottom: 1.3em;
    
}

.carousel-caption .btn {
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    padding: 20px;
    margin-top: 1em;
    margin-bottom: 5em;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



/*------ Block dividers ------*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    margin-bottom: 3em;
    background-color: #e5cdce;
}

   
/*----------------------------------------- Philosophies Row */

.philosophies-bg {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
    padding: 95px 90px 95px 90px;
    color: #cacaca;
}

.philosophies-icon {
    font-size: 120px;
    color: #252525;
    padding: 40px;
}

/*-----------------------------------------ABOUT US MAIN */
/*------ Front Page About Us Section Left Column */

.about-us-col-bg-0 {
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-col-text-0{
    color: #cacaca;
}

.about-us-col-padding {
    padding: 55px 40px 55px 40px;
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
    
}

.meetalee-bg {
    background: url('../images/column-background/meetaleethefounder.png') no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.aboutus-bg {
    background: url('../images/column-background/aboutuscolimg.png') no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*-----------------------------------------WHO WE ARE SECTION */

/*----Header Stuff -----*/

.opaque-pageheaders {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.76);
}

.whoweareheader {
    background: url('../images/container-background/who-we-are-header.jpg') no-repeat center center;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.whoweareheadersection {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

}

.whoweareheadertext {
    margin-top: 6em;
}

/*----Content Stuff -----*/

.whowearecontainergrey {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
    padding: 120px 40px 95px 40px;
    margin-top: -7em;
}

.whowearecontainerblack {
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
    padding: 120px 40px 95px 40px;
    margin-top: -10em;
}

.whowearecontent {
    padding: 95px 40px 95px 40px;
    color: rgb(214, 205, 205);
    font-size: 1.1em;
    margin-top: -4em;
}

.whatwedo-content{
    text-align: center; 
    padding: 20px;
    font-size: 1.4em;
}

.whatwedo-icon {
    font-size: 120px;
    color: #000000;
}


/*----------------------------------------- THE FOUNDER ----- */
/*----- About Page Alee Header -----*/
.aboutaleeheader {
    background: url('../images/container-background/aleeabout.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    max-width: 100%;
}

section.aboutaleesection {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

}

.heyimaleetext {
    margin-top: 20em;
    margin-left: 25em;
}

.aboutaleecontent {
    padding: 80px 40px 90px 40px;
    color: rgb(214, 205, 205);
    font-size: 1.1em;
}

.aleecol {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
padding: 100px 40px 95px 40px;
margin-top: -9em;
}

.aleecol2 {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
    padding: 100px 40px 100px 40px;
    color: rgb(214, 205, 205);
    font-size: 1.1em;
    margin-top: -1em;
}

.aleecol3 {
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
    padding: 95px 40px 150px 40px;
    margin-top: -1em;
    }



/*-----------------------------------------MENTORSHIP */

.mentorshipheader {
    background: url('../images/container-background/mentorship-main-pic.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    max-width: 100%;
}

.mentorship-container{
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
        padding: 95px 40px 100px 40px;
        margin-top: -1em;
    }
    
.mentorship-container2 {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
    padding: 150px 40px 95px 40px;
    color: rgb(196, 185, 185);
    margin-top: -15em;
    }

.mentorship-container3 {
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
    padding: 100px 40px 90px;
    color: rgb(196, 185, 185);
    margin-top: -1em;
    }    

    .mentorship-container4{
        background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
        padding: 95px 40px 350px 40px;
            margin-top: -1em;
        }

.mentorship-content{
    text-align: center; 
    padding: 20px;
    font-size: 1.1em;
    }
    
.mentorship-content2{
    padding: 20px;
    text-align: left;
    color: rgb(196, 185, 185);
    font-size: 1.1em;
    }

.mentorship-content3{
    padding: 20px;
    text-align: center;
    color: rgb(196, 185, 185);
    font-size: 1.1em;
    }

    .mentorship-content4{
        text-align: center; 
        padding: 20px;
        font-size: 1.7em;
        }

/*----------------------------------------- Featured Services -----*/

.features {
    background-color: #aa9898;
    padding: 95px 40px 95px 40px;
}

.features-container{
    background-image: linear-gradient(135deg, rgb(24, 24, 24), rgb(0, 0, 0));
    padding: 90px 40px 90px 40px;
    margin-top: -1em;
}

/*----- Heading Buttons -----*/
.btn-light-feature{
    background-color: transparent;
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: x-large;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-light-feature:hover {
    color: rgb(237, 227, 222);
    border: 2px solid #e7e7e7;
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-light-feature:active:focus{
    color: rgb(237, 227, 222);
    background-color: rgb(89, 89, 89);
}

.btn-position .btn-light-feature{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}


/*----- Column Hover -----*/
div.colhover:hover {
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

/*----------------------------------------- SUBSCRIBE */

.subscribe-bg{
    padding: 105px 40px 105px 40px;
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
color: #b9b9b7;
margin-top: -1em;
margin-bottom: -1em;
}

.subscribe-content-container2{
    padding: 120px 100px 120px 100px;
    background-color: rgb(216, 213, 213);
}

.subscribe-free-gift {
    font-size: 1.3em;
}

/*-----------------------------------------CONTACT */

.contact-content-container {
    padding: 95px 60px 95px 60px;
    background-image: linear-gradient(135deg, rgb(161, 150, 150), #111);
}

.contact-content{
    padding: 30px;
    text-align: center;
    color: rgb(196, 185, 185);
    font-size: 1.1em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    }

.contact-page{
    background: url('../images/container-background/contactbackground.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.contact-page-font {
    color:  #b9b9b7;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-bottom: 40px;
}

/*-----------------------------------------Footer*/

footer{
    background-color: #000000;
    margin: 0;
    position: absolute;    
    padding: 65px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

    /*---- Newsletter Sign Up ----*/

    .mail-content-container {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        color: #dbc7bd;
        margin: auto;
    }

    /*---- Social Links ----*/
    
.social-links li a i{
    width: 67px;
    height: 67px;
    padding: 28px 0px;
    border-radius: 60%;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #757075;
     
}

.social-links li a i:hover{
    opacity: 0.8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;    
}


   /*-----Contact Link*/
   
.link-btn{
    color: #bbb6c1;
    font-size: large;
    font-weight: bold;
}

.link-btn:hover{
    color: #bbb6c1;
    opacity: 0.6;
    text-decoration: none;
}

.link-btn:focus{
    color: #bbb6c1;
    outline: 0;
}


    /*---- Copyright ----*/
    
.copyright{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #bbb6c1;
}

.copyright a:hover {
    color: #928e87;
    text-decoration: none;
}

.copyright2{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #756975;
}

.copyright2 a:hover {
    color: #928e87;
    text-decoration: none;
}



